.CodeMirror {
  height: 100%;
}

/* Sync style with chrome dev-tool */
.cm-keyword {
  color: hsl(0, 0%, 0%);
}
.cm-number {
  color: hsl(0, 0%, 0%);
}
.cm-comment {
  color: hsl(0, 0%, 0%) !important;
  font-style: italic;
}
.cm-string {
  color: hsl(0, 0%, 0%) !important;
}
.cm-string-2 {
  color: hsl(0, 0%, 0%) !important;
}
.cm-atom {
  color: hsl(0, 0%, 0%);
}
.cm-def {
  color: hsl(240, 73%, 38%);
}
.cm-operator {
  color: hsl(27, 100%, 30%);
}
.cm-meta {
  color: hsl(27, 100%, 30%);
}
.cm-variable-2 {
  color: hsl(240, 73%, 38%);
}
